@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

.about {
    background:linear-gradient(rgba(25,25,25,0.3),rgba(25, 25, 25, 0.3)), url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

* {
    font-family: 'Cabin', sans-serif;
}

*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: rgb(209 213 219);

}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20rem;
    border: 3px solid var(--primary);
}